<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<display-name>HelloServlet</display-name>
  	<description></description>
  	<servlet-class>java.ipkras.api.HelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostConsultation</servlet-name>
  	<display-name>PostConsultation</display-name>
  	<description></description>
  	<servlet-class>com.ipkras.api.PostConsultation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostSample</servlet-name>
  	<display-name>PostSample</display-name>
  	<description></description>
  	<servlet-class>com.ipkras.api.PostSample</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostConsultation</servlet-name>
  	<url-pattern>/PostConsultation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostSample</servlet-name>
  	<url-pattern>/PostSample</url-pattern>
  </servlet-mapping>
</web-app>
